version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: mydb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./ops/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  go-app:
    build: .
    container_name: go-app
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      DB_USER: myuser
      DB_PASS: mypassword
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: mydb

volumes:
  mysql_data:
